body {
	text-align: center;
}

.users {
	width: 80%;
	margin: auto;
	margin-top:30px;
}

.users > ul {
	list-style-type: none;
}

.users li {
	display: inline-block;
	width: 20%;
	text-align: center;
	padding-top: 20px; 
}
